$lightBlue: #B2D7ED;
$drkGrey: #8A8A8D;
$lightGrey: #DEDDE4;
$grey: #F8F8F8; //F8F8F8 //f2f0ef
$green: #008599;
$red: #AE132A;
$drkRed: #8E0D20;
$gold: #B58F05;

$fbBlue: #3B5998;
$twBlue: #4099FF;



