/*--------------------------------------------
	BREAKPOINTS
--------------------------------------------*/

@media only screen and (min-width: 350px) { 

}

@media only screen and (min-width: 568px) { 

}

@media only screen and (min-width: 768px) { 
	

}


@media only screen and (min-width: 1024px) { 

}

body {
  background: lightblue;
}

.site {
  padding: 4%;
  background: white;
  border: 10px solid lightyellow;

}
